*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.image{
    width:"100%";
    height:"250px";
}
body{
    background-color: azure;
    
}
.main{
    margin-top: 8%;
    border: 150px;
    align-self: auto;
    flex: auto;
    background-color: whitesmoke;
    gap: 15px;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    max-width: 450px;
}
.info{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.header{
    background-color: gainsboro;
    align-items: center;
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

footer{
    text-align: center;
    color: gray;
}